#include <windows.h>
#include "u5map.h"

MYACCEL ACCELERATORS
BEGIN
  VK_DOWN, ID_NAV_DOWN, VIRTKEY
  VK_UP, ID_NAV_UP, VIRTKEY
  VK_LEFT, ID_NAV_PREVRM, VIRTKEY
  VK_RIGHT, ID_NAV_NEXTRM, VIRTKEY
  VK_DOWN, ID_DUNGEON_NEXT, CONTROL, VIRTKEY
  VK_UP, ID_DUNGEON_PREV, CONTROL, VIRTKEY
  VK_UP, ID_OPTIONS_PARTY_NORTH, ALT, VIRTKEY
  VK_DOWN, ID_OPTIONS_PARTY_SOUTH, ALT, VIRTKEY
  VK_LEFT, ID_OPTIONS_PARTY_WEST, ALT, VIRTKEY
  VK_RIGHT, ID_OPTIONS_PARTY_EAST, ALT, VIRTKEY
  VK_SPACE, ID_OPTIONS_PARTY_NONE, ALT, VIRTKEY
  VK_MINUS, ID_OPTIONS_WRAPHALF, VIRTKEY
  VK_F8, ID_OPTIONS_FIGHTER_2, CONTROL, VIRTKEY
  VK_F9, ID_OPTIONS_FIGHTER_3, CONTROL, VIRTKEY
  VK_F10, ID_OPTIONS_FIGHTER_4, CONTROL, VIRTKEY
  VK_F11, ID_OPTIONS_FIGHTER_5, CONTROL, VIRTKEY
  VK_F12, ID_OPTIONS_FIGHTER_6, CONTROL, VIRTKEY
  VK_F8, ID_OPTIONS_BARD_2, SHIFT, VIRTKEY
  VK_F9, ID_OPTIONS_BARD_3, SHIFT, VIRTKEY
  VK_F10, ID_OPTIONS_BARD_4, SHIFT, VIRTKEY
  VK_F11, ID_OPTIONS_BARD_5, SHIFT, VIRTKEY
  VK_F12, ID_OPTIONS_BARD_6, SHIFT, VIRTKEY
  VK_F8, ID_OPTIONS_MAGE_2, ALT, VIRTKEY
  VK_F9, ID_OPTIONS_MAGE_3, ALT, VIRTKEY
  VK_F10, ID_OPTIONS_MAGE_4, ALT, VIRTKEY
  VK_F11, ID_OPTIONS_MAGE_5, ALT, VIRTKEY
  VK_F12, ID_OPTIONS_MAGE_6, ALT, VIRTKEY
  VK_1, ID_DUNGEON_DECEIT, VIRTKEY
  VK_2, ID_DUNGEON_DESPISE, VIRTKEY
  VK_3, ID_DUNGEON_DESTARD, VIRTKEY
  VK_4, ID_DUNGEON_WRONG, VIRTKEY
  VK_5, ID_DUNGEON_COVETOUS, VIRTKEY
  VK_6, ID_DUNGEON_SHAME, VIRTKEY
  VK_7, ID_DUNGEON_HYTHLOTH, VIRTKEY
  VK_8, ID_DUNGEON_DOOM, VIRTKEY
  VK_1, ID_NAV_1, CONTROL, VIRTKEY
  VK_2, ID_NAV_2, CONTROL, VIRTKEY
  VK_3, ID_NAV_3, CONTROL, VIRTKEY
  VK_4, ID_NAV_4, CONTROL, VIRTKEY
  VK_5, ID_NAV_5, CONTROL, VIRTKEY
  VK_6, ID_NAV_6, CONTROL, VIRTKEY
  VK_7, ID_NAV_7, CONTROL, VIRTKEY
  VK_8, ID_NAV_8, CONTROL, VIRTKEY
  VK_A, ID_NAV_A, VIRTKEY
  VK_B, ID_NAV_B, VIRTKEY
  VK_C, ID_NAV_C, VIRTKEY
  VK_D, ID_NAV_D, VIRTKEY
  VK_E, ID_NAV_E, VIRTKEY
  VK_F, ID_NAV_F, VIRTKEY
  VK_G, ID_NAV_G, VIRTKEY
  VK_H, ID_NAV_H, VIRTKEY
  VK_I, ID_NAV_I, VIRTKEY
  VK_J, ID_NAV_J, VIRTKEY
  VK_K, ID_NAV_K, VIRTKEY
  VK_L, ID_NAV_L, VIRTKEY
  VK_M, ID_NAV_M, VIRTKEY
  VK_N, ID_NAV_N, VIRTKEY
  VK_O, ID_NAV_O, VIRTKEY
  VK_P, ID_NAV_P, VIRTKEY
END

MYMENU MENU DISCARDABLE
BEGIN
	POPUP "&Dungeon"
	BEGIN
		MENUITEM "&1 Deceit\t1", ID_DUNGEON_DECEIT
		MENUITEM "&2 Despise\t2", ID_DUNGEON_DESPISE
		MENUITEM "&3 Destard\t3", ID_DUNGEON_DESTARD
		MENUITEM "&4 Wrong\t4", ID_DUNGEON_WRONG
		MENUITEM "&5 Covetous\t5", ID_DUNGEON_COVETOUS
		MENUITEM "&6 Shame\t6", ID_DUNGEON_SHAME
		MENUITEM "&7 Hythloth\t7", ID_DUNGEON_HYTHLOTH
		MENUITEM "&8 Doom\t8", ID_DUNGEON_DOOM
		MENUITEM SEPARATOR
		MENUITEM "&Previous dungeon", ID_DUNGEON_PREV, GRAYED
		MENUITEM "&Next dungeon", ID_DUNGEON_NEXT
	END
	POPUP "&Navigate"
	BEGIN
		MENUITEM "&Up\tup arrow", ID_NAV_UP, GRAYED
		MENUITEM "&Down\tdown arrow", ID_NAV_DOWN
		MENUITEM "&Prev Room\tleft arrow", ID_NAV_PREVRM, GRAYED
		MENUITEM "&Next Room\tright arrow", ID_NAV_NEXTRM
		MENUITEM SEPARATOR
		MENUITEM "Level &1\tctrl-1", ID_NAV_1
		MENUITEM "Level &2\tctrl-2", ID_NAV_2
		MENUITEM "Level &3\tctrl-3", ID_NAV_3
		MENUITEM "Level &4\tctrl-4", ID_NAV_4
		MENUITEM "Level &5\tctrl-5", ID_NAV_5
		MENUITEM "Level &6\tctrl-6", ID_NAV_6
		MENUITEM "Level &7\tctrl-7", ID_NAV_7
		MENUITEM "Level &8\tctrl-8", ID_NAV_8
		MENUITEM SEPARATOR
		MENUITEM "Room A\ta", ID_NAV_A
		MENUITEM "...", ID_NAV_NULL
		MENUITEM "Room P\tp", ID_NAV_P
		MENUITEM SEPARATOR
		MENUITEM "Reset to Room A on dungeon change", ID_RESET_ROOM_A
		MENUITEM "Reset to Level 1 on dungeon change", ID_RESET_LVL_1
	END
	POPUP "&Options"
	BEGIN
		MENUITEM "Show &Monsters", ID_OPTIONS_MONSTERS
		MENUITEM SEPARATOR
		MENUITEM "Show no &Party\talt-space", ID_OPTIONS_PARTY_NONE
		MENUITEM "Show &North party\talt-up", ID_OPTIONS_PARTY_NORTH
		MENUITEM "Show &West party\talt-left", ID_OPTIONS_PARTY_WEST
		MENUITEM "Show &South party\talt-south", ID_OPTIONS_PARTY_SOUTH
		MENUITEM "Show &East party\talt-east", ID_OPTIONS_PARTY_EAST
		MENUITEM SEPARATOR
		MENUITEM "&Wrap and half size\t-", ID_OPTIONS_WRAPHALF
		MENUITEM SEPARATOR
		MENUITEM "Player 2 is &Fighter\tctrl-F8", ID_OPTIONS_FIGHTER_2
		MENUITEM "Player 2 is &Bard\tshift-F8", ID_OPTIONS_BARD_2
		MENUITEM "Player 2 is &Mage\talt-F8", ID_OPTIONS_MAGE_2
		MENUITEM "(3-6 are F9-F12)", ID_OPTIONS_FBMDOC
	END
	POPUP "&About"
	BEGIN
		MENUITEM "&Basics", ID_ABOUT_BASICS
		MENUITEM "&Basics", ID_ABOUT_THANKS
		MENUITEM SEPARATOR
		MENUITEM "Visit &Mapping tools repository", ID_ABOUT_REPO
		MENUITEM "Visit U5 &Mapper sub-repository", ID_ABOUT_REPO_U5
	END
END
