#include <windows.h>
#include "u4map.h"

MYACCEL ACCELERATORS
BEGIN
  VK_DOWN, ID_NAV_DOWN, VIRTKEY
  VK_UP, ID_NAV_UP, VIRTKEY
  VK_LEFT, ID_NAV_PREVRM, VIRTKEY
  VK_RIGHT, ID_NAV_NEXTRM, VIRTKEY
  VK_1, ID_DUNGEON_DECEIT, VIRTKEY
  VK_2, ID_DUNGEON_DESPISE, VIRTKEY
  VK_3, ID_DUNGEON_DESTARD, VIRTKEY
  VK_4, ID_DUNGEON_WRONG, VIRTKEY
  VK_5, ID_DUNGEON_COVETOUS, VIRTKEY
  VK_6, ID_DUNGEON_SHAME, VIRTKEY
  VK_7, ID_DUNGEON_HYTHLOTH, VIRTKEY
  VK_8, ID_DUNGEON_ABYSS, VIRTKEY
  VK_1, ID_NAV_1, CONTROL, VIRTKEY
  VK_2, ID_NAV_2, CONTROL, VIRTKEY
  VK_3, ID_NAV_3, CONTROL, VIRTKEY
  VK_4, ID_NAV_4, CONTROL, VIRTKEY
  VK_5, ID_NAV_5, CONTROL, VIRTKEY
  VK_6, ID_NAV_6, CONTROL, VIRTKEY
  VK_7, ID_NAV_7, CONTROL, VIRTKEY
  VK_8, ID_NAV_8, CONTROL, VIRTKEY
  VK_A, ID_NAV_A, VIRTKEY
  VK_B, ID_NAV_B, VIRTKEY
  VK_C, ID_NAV_C, VIRTKEY
  VK_D, ID_NAV_D, VIRTKEY
  VK_E, ID_NAV_E, VIRTKEY
  VK_F, ID_NAV_F, VIRTKEY
  VK_G, ID_NAV_G, VIRTKEY
  VK_H, ID_NAV_H, VIRTKEY
  VK_I, ID_NAV_I, VIRTKEY
  VK_J, ID_NAV_J, VIRTKEY
  VK_K, ID_NAV_K, VIRTKEY
  VK_L, ID_NAV_L, VIRTKEY
  VK_M, ID_NAV_M, VIRTKEY
  VK_N, ID_NAV_N, VIRTKEY
  VK_O, ID_NAV_O, VIRTKEY
  VK_P, ID_NAV_P, VIRTKEY
END

MYMENU MENU DISCARDABLE
BEGIN
	POPUP "&Dungeon"
	BEGIN
		MENUITEM "&1 Deceit\t1", ID_DUNGEON_DECEIT
		MENUITEM "&2 Despise\t2", ID_DUNGEON_DESPISE
		MENUITEM "&3 Destard\t3", ID_DUNGEON_DESTARD
		MENUITEM "&4 Wrong\t4", ID_DUNGEON_WRONG
		MENUITEM "&5 Covetous\t5", ID_DUNGEON_COVETOUS
		MENUITEM "&6 Shame\t6", ID_DUNGEON_SHAME
		MENUITEM "&7 Hythloth\t7", ID_DUNGEON_HYTHLOTH
		MENUITEM "&8 Abyss\t8", ID_DUNGEON_ABYSS
	END
	POPUP "&Navigate"
	BEGIN
		MENUITEM "&Up\tup arrow", ID_NAV_UP
		MENUITEM "&Down\tdown arrow", ID_NAV_DOWN
		MENUITEM "&Prev Room\tleft arrow", ID_NAV_PREVRM
		MENUITEM "&Next Room\tright arrow", ID_NAV_NEXTRM
		MENUITEM SEPARATOR
		MENUITEM "Level &1\tctrl-1", ID_NAV_1
		MENUITEM "Level &2\tctrl-2", ID_NAV_2
		MENUITEM "Level &3\tctrl-3", ID_NAV_3
		MENUITEM "Level &4\tctrl-4", ID_NAV_4
		MENUITEM "Level &5\tctrl-5", ID_NAV_5
		MENUITEM "Level &6\tctrl-6", ID_NAV_6
		MENUITEM "Level &7\tctrl-7", ID_NAV_7
		MENUITEM "Level &8\tctrl-8", ID_NAV_8
		MENUITEM SEPARATOR
		MENUITEM "Room A\ta", ID_NAV_A
		MENUITEM "...", ID_NAV_NULL
		MENUITEM "Room P\tp", ID_NAV_P
		MENUITEM SEPARATOR
		MENUITEM "Reset to room A", ID_RESET_ROOM_A
	END
	POPUP "&Special squares"
	BEGIN
		MENUITEM "&Toggle Spoilers", ID_SPECIAL_SPOIL
		MENUITEM SEPARATOR
		MENUITEM "Show &Monsters", ID_SPECIAL_MONSTERS
		MENUITEM SEPARATOR
		MENUITEM "Show no &Party", ID_SPECIAL_PARTY_NONE
		MENUITEM "Show &North party", ID_SPECIAL_PARTY_NORTH
		MENUITEM "Show &East party", ID_SPECIAL_PARTY_EAST
		MENUITEM "Show &South party", ID_SPECIAL_PARTY_SOUTH
		MENUITEM "Show &West party", ID_SPECIAL_PARTY_WEST
		MENUITEM "Show &Alt icons", ID_SPECIAL_ALT_ICONS
		MENUITEM SEPARATOR
		MENUITEM "&Reveal all secret paths", ID_SPECIAL_REVEAL_ALL_SECRET
		MENUITEM "&Hide all secret paths", ID_SPECIAL_HIDE_ALL_SECRET
		MENUITEM "Show 1st secret path", ID_SPECIAL_SHOW_1ST_SECRET
		MENUITEM "Show 2nd secret path", ID_SPECIAL_SHOW_2ND_SECRET
		MENUITEM "Show 3rd secret path", ID_SPECIAL_SHOW_3RD_SECRET
		MENUITEM "Show 4th secret path", ID_SPECIAL_SHOW_4TH_SECRET
	END
END
