#include <windows.h>
#include "u4map.h"

MYACCEL ACCELERATORS
BEGIN
  VK_UP, ID_NAV_UP, VIRTKEY
  VK_DOWN, ID_NAV_DOWN, VIRTKEY
  VK_LEFT, ID_NAV_PREVRM, VIRTKEY
  VK_RIGHT, ID_NAV_NEXTRM, VIRTKEY
  VK_PRIOR, ID_DUNGEON_PREV, VIRTKEY
  VK_NEXT, ID_DUNGEON_NEXT, VIRTKEY
  VK_MINUS, ID_OPTIONS_SIZE_HALF, VIRTKEY
  VK_OEM_PLUS, ID_OPTIONS_SIZE_FULL, VIRTKEY
  VK_BACK, ID_OPTIONS_SIZE_AUTO, VIRTKEY
  VK_OEM_BACKSLASH, ID_OPTIONS_SIZE_BORDERED, VIRTKEY
  //number = dungeon
  VK_1, ID_DUNGEON_DECEIT, VIRTKEY
  VK_2, ID_DUNGEON_DESPISE, VIRTKEY
  VK_3, ID_DUNGEON_DESTARD, VIRTKEY
  VK_4, ID_DUNGEON_WRONG, VIRTKEY
  VK_5, ID_DUNGEON_COVETOUS, VIRTKEY
  VK_6, ID_DUNGEON_SHAME, VIRTKEY
  VK_7, ID_DUNGEON_HYTHLOTH, VIRTKEY
  VK_8, ID_DUNGEON_ABYSS, VIRTKEY
  //control-number = level
  VK_1, ID_NAV_1, CONTROL, VIRTKEY
  VK_2, ID_NAV_2, CONTROL, VIRTKEY
  VK_3, ID_NAV_3, CONTROL, VIRTKEY
  VK_4, ID_NAV_4, CONTROL, VIRTKEY
  VK_5, ID_NAV_5, CONTROL, VIRTKEY
  VK_6, ID_NAV_6, CONTROL, VIRTKEY
  VK_7, ID_NAV_7, CONTROL, VIRTKEY
  VK_8, ID_NAV_8, CONTROL, VIRTKEY
  //abyss specific
  VK_UP, ID_NAV_ABYSS_UP2, CONTROL, VIRTKEY
  VK_DOWN, ID_NAV_ABYSS_DOWN2, CONTROL, VIRTKEY
  //show text details
  VK_9, ID_OPTIONS_DUNTEXTSUMMARY, VIRTKEY
  VK_0, ID_OPTIONS_ROOMTEXTSUMMARY, VIRTKEY
  //show directions
  VK_UP, ID_OPTIONS_PARTY_NORTH, ALT, VIRTKEY
  VK_DOWN, ID_OPTIONS_PARTY_SOUTH, ALT, VIRTKEY
  VK_LEFT, ID_OPTIONS_PARTY_WEST, ALT, VIRTKEY
  VK_RIGHT, ID_OPTIONS_PARTY_EAST, ALT, VIRTKEY
  VK_HOME, ID_OPTIONS_PARTY_FIRSTVIABLE, ALT, VIRTKEY
  VK_END, ID_OPTIONS_PARTY_NONE, ALT, VIRTKEY
  //a-p is room 0-15
  VK_A, ID_NAV_A, VIRTKEY
  VK_B, ID_NAV_B, VIRTKEY
  VK_C, ID_NAV_C, VIRTKEY
  VK_D, ID_NAV_D, VIRTKEY
  VK_E, ID_NAV_E, VIRTKEY
  VK_F, ID_NAV_F, VIRTKEY
  VK_G, ID_NAV_G, VIRTKEY
  VK_H, ID_NAV_H, VIRTKEY
  VK_I, ID_NAV_I, VIRTKEY
  VK_J, ID_NAV_J, VIRTKEY
  VK_K, ID_NAV_K, VIRTKEY
  VK_L, ID_NAV_L, VIRTKEY
  VK_M, ID_NAV_M, VIRTKEY
  VK_N, ID_NAV_N, VIRTKEY
  VK_O, ID_NAV_O, VIRTKEY
  VK_P, ID_NAV_P, VIRTKEY
  VK_A, ID_NAV_SHIFT_A, SHIFT, VIRTKEY
  VK_B, ID_NAV_SHIFT_B, SHIFT, VIRTKEY
  VK_C, ID_NAV_SHIFT_C, SHIFT, VIRTKEY
  VK_D, ID_NAV_SHIFT_D, SHIFT, VIRTKEY
  VK_E, ID_NAV_SHIFT_E, SHIFT, VIRTKEY
  VK_F, ID_NAV_SHIFT_F, SHIFT, VIRTKEY
  VK_G, ID_NAV_SHIFT_G, SHIFT, VIRTKEY
  VK_H, ID_NAV_SHIFT_H, SHIFT, VIRTKEY
  VK_I, ID_NAV_SHIFT_I, SHIFT, VIRTKEY
  VK_J, ID_NAV_SHIFT_J, SHIFT, VIRTKEY
  VK_K, ID_NAV_SHIFT_K, SHIFT, VIRTKEY
  VK_L, ID_NAV_SHIFT_L, SHIFT, VIRTKEY
  VK_M, ID_NAV_SHIFT_M, SHIFT, VIRTKEY
  VK_N, ID_NAV_SHIFT_N, SHIFT, VIRTKEY
  VK_O, ID_NAV_SHIFT_O, SHIFT, VIRTKEY
  VK_P, ID_NAV_SHIFT_P, SHIFT, VIRTKEY
  VK_A, ID_NAV_CTRL_A, CONTROL, VIRTKEY
  VK_B, ID_NAV_CTRL_B, CONTROL, VIRTKEY
  VK_C, ID_NAV_CTRL_C, CONTROL, VIRTKEY
  VK_D, ID_NAV_CTRL_D, CONTROL, VIRTKEY
  VK_E, ID_NAV_CTRL_E, CONTROL, VIRTKEY
  VK_F, ID_NAV_CTRL_F, CONTROL, VIRTKEY
  VK_G, ID_NAV_CTRL_G, CONTROL, VIRTKEY
  VK_H, ID_NAV_CTRL_H, CONTROL, VIRTKEY
  VK_I, ID_NAV_CTRL_I, CONTROL, VIRTKEY
  VK_J, ID_NAV_CTRL_J, CONTROL, VIRTKEY
  VK_K, ID_NAV_CTRL_K, CONTROL, VIRTKEY
  VK_L, ID_NAV_CTRL_L, CONTROL, VIRTKEY
  VK_M, ID_NAV_CTRL_M, CONTROL, VIRTKEY
  VK_N, ID_NAV_CTRL_N, CONTROL, VIRTKEY
  VK_O, ID_NAV_CTRL_O, CONTROL, VIRTKEY
  VK_P, ID_NAV_CTRL_P, CONTROL, VIRTKEY
  VK_A, ID_NAV_CTRL_SHIFT_A, SHIFT, CONTROL, VIRTKEY
  VK_B, ID_NAV_CTRL_SHIFT_B, SHIFT, CONTROL, VIRTKEY
  VK_C, ID_NAV_CTRL_SHIFT_C, SHIFT, CONTROL, VIRTKEY
  VK_D, ID_NAV_CTRL_SHIFT_D, SHIFT, CONTROL, VIRTKEY
  VK_E, ID_NAV_CTRL_SHIFT_E, SHIFT, CONTROL, VIRTKEY
  VK_F, ID_NAV_CTRL_SHIFT_F, SHIFT, CONTROL, VIRTKEY
  VK_G, ID_NAV_CTRL_SHIFT_G, SHIFT, CONTROL, VIRTKEY
  VK_H, ID_NAV_CTRL_SHIFT_H, SHIFT, CONTROL, VIRTKEY
  VK_I, ID_NAV_CTRL_SHIFT_I, SHIFT, CONTROL, VIRTKEY
  VK_J, ID_NAV_CTRL_SHIFT_J, SHIFT, CONTROL, VIRTKEY
  VK_K, ID_NAV_CTRL_SHIFT_K, SHIFT, CONTROL, VIRTKEY
  VK_L, ID_NAV_CTRL_SHIFT_L, SHIFT, CONTROL, VIRTKEY
  VK_M, ID_NAV_CTRL_SHIFT_M, SHIFT, CONTROL, VIRTKEY
  VK_N, ID_NAV_CTRL_SHIFT_N, SHIFT, CONTROL, VIRTKEY
  VK_O, ID_NAV_CTRL_SHIFT_O, SHIFT, CONTROL, VIRTKEY
  VK_P, ID_NAV_CTRL_SHIFT_P, SHIFT, CONTROL, VIRTKEY
  //toggle room secrets
  0xC0, ID_OPTIONS_MONSTERS, VIRTKEY
  VK_F5, ID_OPTIONS_OUTLINE_SPOILER_SQUARES, VIRTKEY
  VK_F6, ID_OPTIONS_OUTLINE_CHANGED_SQUARES, VIRTKEY
  VK_F1, ID_OPTIONS_SHOW_1ST_SECRET, VIRTKEY
  VK_F2, ID_OPTIONS_SHOW_2ND_SECRET, VIRTKEY
  VK_F3, ID_OPTIONS_SHOW_3RD_SECRET, VIRTKEY
  VK_F4, ID_OPTIONS_SHOW_4TH_SECRET, VIRTKEY
  //shift-number = swap character with leader
  VK_2, ID_COSMETIC_SWAP_2, SHIFT, VIRTKEY
  VK_3, ID_COSMETIC_SWAP_3, SHIFT, VIRTKEY
  VK_4, ID_COSMETIC_SWAP_4, SHIFT, VIRTKEY
  VK_5, ID_COSMETIC_SWAP_5, SHIFT, VIRTKEY
  VK_6, ID_COSMETIC_SWAP_6, SHIFT, VIRTKEY
  VK_7, ID_COSMETIC_SWAP_7, SHIFT, VIRTKEY
  VK_8, ID_COSMETIC_SWAP_8, SHIFT, VIRTKEY
  //alt-number = toggle character
  VK_2, ID_COSMETIC_HIDE_2, ALT, VIRTKEY
  VK_3, ID_COSMETIC_HIDE_3, ALT, VIRTKEY
  VK_4, ID_COSMETIC_HIDE_4, ALT, VIRTKEY
  VK_5, ID_COSMETIC_HIDE_5, ALT, VIRTKEY
  VK_6, ID_COSMETIC_HIDE_6, ALT, VIRTKEY
  VK_7, ID_COSMETIC_HIDE_7, ALT, VIRTKEY
  VK_8, ID_COSMETIC_HIDE_8, ALT, VIRTKEY
  VK_1, ID_COSMETIC_HIDE_ALL, ALT, VIRTKEY
  VK_9, ID_COSMETIC_HIDE_NONE, ALT, VIRTKEY
  //finally, alt icons
  VK_SPACE, ID_COSMETIC_ALT_ICONS, ALT, VIRTKEY
END

MYMENU MENU DISCARDABLE
BEGIN
	POPUP "&Dungeon"
	BEGIN
		MENUITEM "&1 Deceit\t1", ID_DUNGEON_DECEIT
		MENUITEM "&2 Despise\t2", ID_DUNGEON_DESPISE
		MENUITEM "&3 Destard\t3", ID_DUNGEON_DESTARD
		MENUITEM "&4 Wrong\t4", ID_DUNGEON_WRONG
		MENUITEM "&5 Covetous\t5", ID_DUNGEON_COVETOUS
		MENUITEM "&6 Shame\t6", ID_DUNGEON_SHAME
		MENUITEM "&7 Hythloth\t7", ID_DUNGEON_HYTHLOTH
		MENUITEM "&8 Abyss\t8", ID_DUNGEON_ABYSS
		MENUITEM SEPARATOR
		MENUITEM "&Previous dungeon\tPage up", ID_DUNGEON_PREV
		MENUITEM "&Next dungeon\tPage down", ID_DUNGEON_NEXT
	END
	POPUP "&Navigate"
	BEGIN
		MENUITEM "&Up\tup arrow", ID_NAV_UP
		MENUITEM "&Down\tdown arrow", ID_NAV_DOWN
		MENUITEM "&Prev Room\tleft arrow", ID_NAV_PREVRM
		MENUITEM "&Next Room\tright arrow", ID_NAV_NEXTRM
		MENUITEM SEPARATOR
		MENUITEM "Level &1\tctrl-1", ID_NAV_1
		MENUITEM "Level &2\tctrl-2", ID_NAV_2
		MENUITEM "Level &3\tctrl-3", ID_NAV_3
		MENUITEM "Level &4\tctrl-4", ID_NAV_4
		MENUITEM "Level &5\tctrl-5", ID_NAV_5
		MENUITEM "Level &6\tctrl-6", ID_NAV_6
		MENUITEM "Level &7\tctrl-7", ID_NAV_7
		MENUITEM "Level &8\tctrl-8", ID_NAV_8
		MENUITEM SEPARATOR
		POPUP "&Room choice"
		BEGIN
			MENUITEM "Room A\ta", ID_NAV_A
			MENUITEM "Room B\tb", ID_NAV_B
			MENUITEM "Room C\tc", ID_NAV_C
			MENUITEM "Room D\td", ID_NAV_D
			MENUITEM "Room E\te", ID_NAV_E
			MENUITEM "Room F\tf", ID_NAV_F
			MENUITEM "Room G\tg", ID_NAV_G
			MENUITEM "Room H\th", ID_NAV_H
			MENUITEM "Room I\ti", ID_NAV_I
			MENUITEM "Room J\tj", ID_NAV_J
			MENUITEM "Room K\tk", ID_NAV_K
			MENUITEM "Room L\tl", ID_NAV_L
			MENUITEM "Room M\tm", ID_NAV_M
			MENUITEM "Room N\tn", ID_NAV_N
			MENUITEM "Room O\to", ID_NAV_O
			MENUITEM "Room P\tp", ID_NAV_P
			MENUITEM SEPARATOR
			MENUITEM "Abyss jump\tCtrl=32, shift=16", ID_NAV_INSTR
		END
		MENUITEM SEPARATOR
		MENUITEM "Up 2 lvls (Abyss)\tctrl-up", ID_NAV_ABYSS_UP2
		MENUITEM "Down 2 lvls (Abyss)\tctrl-down", ID_NAV_ABYSS_DOWN2
	END
	POPUP "&Options"
	BEGIN
		MENUITEM "Show &Monsters\t`", ID_OPTIONS_MONSTERS
		MENUITEM "Hide Mimi&c", ID_OPTIONS_HIDE_MIMIC
		MENUITEM "Outline squares to ste&p on by default\tF5", ID_OPTIONS_OUTLINE_SPOILER_SQUARES
		MENUITEM "Outline squares that will &change by default\tF6", ID_OPTIONS_OUTLINE_CHANGED_SQUARES
		MENUITEM SEPARATOR
		MENUITEM "Show &Dungeon text summary\t9", ID_OPTIONS_DUNTEXTSUMMARY
		MENUITEM "Show R&oom text summary\t0", ID_OPTIONS_ROOMTEXTSUMMARY
		MENUITEM SEPARATOR
		MENUITEM "Show &North party\talt-up", ID_OPTIONS_PARTY_NORTH
		MENUITEM "Show &East party\talt-right", ID_OPTIONS_PARTY_EAST
		MENUITEM "Show &South party\talt-down", ID_OPTIONS_PARTY_SOUTH
		MENUITEM "Show &West party\talt-left", ID_OPTIONS_PARTY_WEST
		MENUITEM "Show &First viable direction\talt-home", ID_OPTIONS_PARTY_FIRSTVIABLE
		MENUITEM "Show no &Party\talt-end", ID_OPTIONS_PARTY_NONE
		MENUITEM SEPARATOR
		MENUITEM "Show 1st room shift\tF1", ID_OPTIONS_SHOW_1ST_SECRET
		MENUITEM "Show 2nd room shift\tF2", ID_OPTIONS_SHOW_2ND_SECRET
		MENUITEM "Show 3rd room shift\tF3", ID_OPTIONS_SHOW_3RD_SECRET
		MENUITEM "Show 4th room shift\tF4", ID_OPTIONS_SHOW_4TH_SECRET
		MENUITEM SEPARATOR
		MENUITEM "&Wrap/half size maps\t-", ID_OPTIONS_SIZE_HALF
		MENUITEM "&Full size maps\t=", ID_OPTIONS_SIZE_FULL
		MENUITEM "&Auto-adjust maps\tBackspace", ID_OPTIONS_SIZE_AUTO
		MENUITEM "&Bordered half-size maps\t\\", ID_OPTIONS_SIZE_BORDERED
		MENUITEM "&Label rooms in main map", ID_OPTIONS_MAINMAP_LABEL
		MENUITEM SEPARATOR
		MENUITEM "Reset new dungeon to room 1", ID_OPTIONS_RESET_ROOM_1
		MENUITEM "Reset new dungeon to level 1", ID_OPTIONS_RESET_LEVEL_1
		MENUITEM SEPARATOR
		MENUITEM "Sync level to room", ID_OPTIONS_SYNC_LEVEL_TO_ROOM
		MENUITEM "Restrict room to current level", ID_OPTIONS_RESTRICT_ROOM_TO_CURRENT_LEVEL
		MENUITEM SEPARATOR
		MENUITEM "Show altar rooms", ID_OPTIONS_SHOW_ALTAR_ROOMS
		MENUITEM "Remember last Ab&yss room", ID_OPTIONS_REMEMBER_ABYSS_ROOM
	END
	POPUP "&Cosmetic options"
	BEGIN
		MENUITEM "Swap class with player &2\tshift-2", ID_COSMETIC_SWAP_2
		MENUITEM "Swap class with player &3\tshift-3", ID_COSMETIC_SWAP_3
		MENUITEM "Swap class with player &4\tshift-4", ID_COSMETIC_SWAP_4
		MENUITEM "Swap class with player &5\tshift-5", ID_COSMETIC_SWAP_5
		MENUITEM "Swap class with player &6\tshift-6", ID_COSMETIC_SWAP_6
		MENUITEM "Swap class with player &7\tshift-7", ID_COSMETIC_SWAP_7
		MENUITEM "Swap class with player &8\tshift-8", ID_COSMETIC_SWAP_8
		MENUITEM SEPARATOR
		MENUITEM "Hide &2\talt-2", ID_COSMETIC_HIDE_2
		MENUITEM "Hide &3\talt-3", ID_COSMETIC_HIDE_3
		MENUITEM "Hide &4\talt-4", ID_COSMETIC_HIDE_4
		MENUITEM "Hide &5\talt-5", ID_COSMETIC_HIDE_5
		MENUITEM "Hide &6\talt-6", ID_COSMETIC_HIDE_6
		MENUITEM "Hide &7\talt-7", ID_COSMETIC_HIDE_7
		MENUITEM "Hide &8\talt-8", ID_COSMETIC_HIDE_8
		MENUITEM "Hide all\talt-1", ID_COSMETIC_HIDE_ALL
		MENUITEM "Hide none\talt-9", ID_COSMETIC_HIDE_NONE
		MENUITEM SEPARATOR
		MENUITEM "Show &Alt player icons\talt-space", ID_COSMETIC_ALT_ICONS
	END
	POPUP "&About"
	BEGIN
		MENUITEM "&Basics", ID_ABOUT_BASICS
		MENUITEM "&Thanks", ID_ABOUT_THANKS
		MENUITEM SEPARATOR
		MENUITEM "Visit &Mapping tools repository", ID_ABOUT_REPO
		MENUITEM "Visit U4 &Surfer sub-repository", ID_ABOUT_REPO_THISAPP
		MENUITEM "Open U4 &Readme, repository", ID_ABOUT_README_REPO
		MENUITEM "Open U4 Readme, &local", ID_ABOUT_README_LOCAL
	END
END
